<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage" uri="http://microsoft.com/schemas/VisualStudio/TeamTest/2019/DataCollector/CodeCoverage" assemblyQualifiedName="Coverlet.Collector.DataCollection.CoverletCoverageCollector, Coverlet.Collector">
        <Configuration>
          <!-- Exclude test projects and generated code -->
          <ExcludeByFile>**/Migrations/*;**/*Tests*/**;**/*Test*/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>